body {
    color: white;
    display: flex;
    flex-wrap: wrap;
    text-transform: uppercase;
    text-align: center;
  }
  
  header, main, aside, footer {
    padding: 10px 5px;
    flex-basis: 100%;/* W tym przypadku jest to ~ width: 100% */
  }
  
  header {
    background-color: red;
  }
  
  main {
    background-color: blue;
  }
  
  footer {
    background-color: violet;
  }
  
  .left {
    background-color: green;
  }
  
  .right {
    background-color: pink;
  }
  
  .left,
  .right {
    /*height: 50%; Nie dzialaja procenty 
    -procenty beda dzialac, jesli jest element-
    rodzic o zafiksowanych rozmiarach*/
    height: 20em;
  }
  
  /* Domyslna wartosc order to 0 */
  @media screen and (min-width:768px) and (max-width:992px) {
    main {
      flex: 3;
    }
  
    .left {
      height: 10em;
    }
    
    .right {
      height: auto;
    }
  
    .right {
      order: 10;
      flex: 1;
    }
  
    .left {
      order: 20;
    }
  
    footer {
      order: 30;
    } 
  }
  
  @media screen and (min-width:993px) {
    main {
      order: 1;
      flex: 2;
    }
  
    .left,
    .right {
      height: auto;
    }
  
    .right {
      order: 2;
      flex: 1;
    }
  
    .left {
      flex: 1; 
    }
    
    footer {
      order: 3;
    }
  
  }
  